<%#step four%>
<form method="post" action="/recipes">

    <p>Create a New Recipe:<p>
    <p>Name: <input type="text" name="name"><p>
    <p>Ingredients: <input type="text" name="ingredients"><p>
    <p>Cook Time (in minutes): <input type="text" name="cook_time"><p>
        <input type="submit">

</form>

<%#come back to create form for delete request%>